<%=content_for :head do %>
  <style type="text/css" media="screen">
    body{ background-image: url('<%= get_home_image %>'); }
  </style>
<% end %>

<div class="post-list">
  <% (@first_year..@current_year).reverse_each do |year| %>

    <h2 class="year"><%= year %></h2>

    <ul>
      <% (@first_week..@current_week).reverse_each do |week| %>

        <% weeks_posts = get_weeks_posts(week, year) %>

        <li><a href="/week/<%= week %>/<%= year %>">
          <section class="background-image" style="background-image: url('<%= weeks_posts.first.background_image %>')"></section>
          <section class="date-info">
            <% if weeks_posts.last.published_at.strftime('%B') == weeks_posts.first.published_at.strftime('%B') %>
              <h3 class="month"><%= weeks_posts.last.published_at.strftime('%B') %></h3>
            <% else %>
              <h3 class="month"><%= weeks_posts.last.published_at.strftime('%B') %> / <%= weeks_posts.first.published_at.strftime('%B') %></h3>
            <% end %>
            <h4 class="week"><%= weeks_posts.last.published_at.strftime('%e') %> - <%= weeks_posts.first.published_at.strftime('%e') %></h4>
          </section>
        </a></li>

      <% end %>
    </ul>

  <% end %>
</div>