<header id="header" class="main">
  <div class="wrapper">
    <%= link_to((image_tag 'ISW-Logo@2x.png'), root_path, class: 'home') %></a>
    <ul class="menu">
      <li><%= nav_link('Week', week_path) %></li>
      <li><%= nav_link('Month', month_path) %></li>
      <li><%= nav_link('Year', year_path) %></li>
      <li><%=link_to "Update Feed",update_all_posts_path%></li>
    </ul>
  </div>
</header>