<!DOCTYPE html>
<html>
<head>
  <title>Isw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= content_for :head %>
  <%= csrf_meta_tags %>
</head>
<body onload="resizeContent()" onresize="resizeContent()">

<%=render :partial=>"/layouts/header"%>
  <div id="content">
    <%= yield %>
  </div>
<%=render :partial=>"/layouts/footer"%>

</body>
</html>
